html,body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
.hide{
    display: none;
}
.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);
}

.loading table {
    width: 100%;
    height: 100%;
    text-align: center;
}
